@inject IJSRuntime JSRuntime

@if (Filter is null)
    return;

<div class="m-[10px] max-w-[230px] grid gap-2">
    <RadzenText Style="font-size: 15px;font-weight: 600; margin-top: 5px;" Text="Filter" />
    <RadzenDropDown @bind-Value=Filter.Direction
                    Data=@(Enum.GetValues(typeof(TimeDirection)).Cast<TimeDirection>().Select(timeDirection => timeDirection)) />

    <div class="flex justify-around gap-[10%]">
        <RadzenNumeric Min=1 @bind-Value=Filter.Number ShowUpDown=true />
        <RadzenDropDown @bind-Value=Filter.Unit
                        Data=@(Enum.GetValues(typeof(TimeUnit)).Cast<TimeUnit>().Select(timeUnit => timeUnit)) />
    </div>

    <div class="mt-[14px] flex justify-around gap-[30%]">
        <RadzenButton Style="background-color: #63737a;" Text=Clear Click=ClearFilterAsync />
        <RadzenButton Text=Apply Click=UpdateFilterAsync />
    </div>
</div>

@code {
    [Parameter]
    public TimeFilter<long?>? Filter { get; set; }
    [Parameter]
    public EventCallback<TimeFilter<long?>> FilterChanged { get; set; }

    [Parameter]
    public RadzenDataGrid<ItemModel>? Grid { get; set; }

    /// <summary>
    /// Resets filter to default values and updates the filter
    /// </summary>
    private async Task ClearFilterAsync()
    {
        Filter!.Direction = TimeDirection.Before;
        Filter.Number = null;
        Filter.Unit = TimeUnit.Hours;
        await UpdateFilterAsync();
    }

    /// <summary>
    /// Updates filter value, invokes FilterChanged event, closes all popups and goes to first page of the grid
    /// </summary>
    private async Task UpdateFilterAsync()
    {
        Filter!.Value = Filter.Number * (int)Filter.Unit;
        await FilterChanged.InvokeAsync(Filter);
        await JSRuntime.InvokeVoidAsync("Radzen.closeAllPopups");

        if (Grid is not null)
            await Grid.GoToPage(0, true);
    }
}
