<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="CSS/app.css" />
    <link rel="stylesheet" href="CSS/tailwind-app.css" />
    <link rel="stylesheet" href="Server.styles.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/dark.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode=InteractiveServer />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XJ1405LQXW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XJ1405LQXW');
    </script>

    <meta name="description" content="Get the most Accurate and Real Time Prices for items in Old School RuneScape. Discover the best items for flipping and money making. Track Live and Historical Prices, sort and filter items and maximize your profit with our powerful tools. Powered by RuneLite and the OSRS community." />
    <link rel="canonical" href="https://osrsprices.wiki" />
    <meta property="og:title" content="OSRS GE Price & Flipping Tracker - Live RuneScape Grand Exchange Prices" />
    <meta property="og:description" content="Get the most Accurate and Real Time Prices for items in Old School RuneScape. Discover the best items for flipping and money making. Track Live and Historical Prices, sort and filter items and maximize your profit with our powerful tools. Powered by RuneLite and the OSRS community." />
    <meta property="og:image" content="https://oldschool.runescape.wiki/images/thumb/Coins_detail.png/120px-Coins_detail.png?404bc" />
    <meta property="og:url" content="https://osrsprices.wiki" />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content="OSRS GE Price & Flipping Tracker - Live RuneScape Grand Exchange Prices" />
    <meta name="twitter:description" content="Get the most Accurate and Real Time Prices for items in Old School RuneScape. Discover the best items for flipping and money making. Track Live and Historical Prices, sort and filter items and maximize your profit with our powerful tools. Powered by RuneLite and the OSRS community." />
    <meta name="twitter:image" content="https://oldschool.runescape.wiki/images/thumb/Coins_detail.png/120px-Coins_detail.png?404bc" />
    <meta name="twitter:card" content="summary_large_image" />
</head>

<body class="bg-[var(--secondary-color)] text-[var(--text-color)]">
    <Routes @rendermode=InteractiveServer />
    <script src="_framework/blazor.web.js"></script>
    <script src="JavaScript/app.js"></script>
    <script type="module" src="JavaScript/echarts.min.js"></script>
    <script type="module" src="JavaScript/eChartsInterop.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script type="module" src="_content/Blazor.ECharts/core.js"></script>
</body>

</html>
