<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="CSS/app.css" />
    <link rel="stylesheet" href="CSS/tailwind-app.css" />
    <link rel="stylesheet" href="Server.styles.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/dark.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode=InteractiveServer />
</head>

<body>
    <Routes @rendermode=InteractiveServer />
    <script src="_framework/blazor.web.js"></script>
    <script src="JavaScript/app.js"></script>
    <script type="module" src="JavaScript/echarts.min.js"></script>
    <script type="module" src="JavaScript/echartsInterop.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script type="module" src="_content/Blazor.ECharts/core.js"></script>
</body>

</html>
